html {
	background-image: url("http://st.gde-fon.com/wallpapers_original/570027_ogni_svet_kosmos_afrika_panorama_karta_snimok_evro_1920x1080_www.Gde-Fon.com.jpg");
}

main {
	background-color: white;
}

header {
	/*position: fixed;*/
    top:0;
	left: 0;
	width: 100%;
    overflow: hidden;
    background-color: #222222;
}

.logo-header {
	position: relative;
	vertical-align: middle;
	left: 80px;
	top: 8px;
	height: 50px;
	float:left;
}

.header-title {
	font-family: 'Lato', sans-serif;
	color : #FE9C45;
	padding-left : 150px;
	float:left;
	padding-right: 50px;
}

.menu-button {
	font-family: 'Lato', sans-serif;
    float: left;
	padding-top:6px;
	overflow: hidden;
}

.menu-button a {
    color: #FE9C45;
	display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-button a:hover {
    background-color: #E3D0B9;
}

.statistics1{
  font-family: 'Lato', sans-serif;
  display: inline-block;
}
.rand1{
  display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
}
.statistics1-img {
	height: 50px;
	width: 50px;
}

.map-settings {
	width:100%;
	height:750px;
	background:black;
}

.googft-mapCanvas {
	width:100%;
	height:500px;
	background:black;
}

footer {
	float: right;
	height: 100px;
	width: 100%;
    overflow: hidden;
    background-color: #222222;
}

.logo-footer {
	
	vertical-align: middle;
	top:15px;
	left: 40px;
	height: 100px;
	float:left;
}

.footer-details {
	padding-top: 50px;
	padding-left: 25px;
	font-family: 'Lato', sans-serif;
	color : #FE9C45;
}

img {
	user-drag: none; 
    user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}