html {
	background: url(images/background2.jpg) no-repeat fixed;
}

header {
	position: fixed;
    top: 0;
	left: 0;
	width: 100%;
    overflow: hidden;
    background-color: rgba(34, 34, 34, 1);
	z-index: 1;
}
#logo-header {
	position: absolute;
	top: -1%;
	z-index: 2;
}
.header-title {
	font-family: 'Lato', sans-serif;
	color: #FE9C45;
	padding-left: 250px;
	float: left;
	padding-right: 50px;
}
.menu-button {
	font-family: 'Lato', sans-serif;
    float: left;
	padding-top: 16px;
	overflow: hidden;
}
.menu-button a {
    color: #FE9C45;
	display: block;
    text-align: center;
    padding: 14px 16px 5px 25px;
    text-decoration: none;
}
.menu-button a:hover {
    background-color: #E3D0B9;
}
header img, footer img {
	user-drag: none; 
    user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}


main article:nth-child(1) {
	width: 47%;
	height: 35%;
	padding: 1% 8% 1% 1%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
				url(images/white.jpg);
	position: absolute;
	top: 30%;
	left: 4%;
	color: rgba(50, 25, 0, 1);
	font-family: "Lato", cursive;
}
main article:nth-child(1) h2 {
	font-size: 2rem;
	font-weight: bold;
	text-shadow: 4px 4px 5px rgba(155, 155, 155, 0.8);
	text-align: center;
}
main article:nth-child(1) p:first-of-type {
	font-size: 1.4rem;
	text-shadow: 4px 4px 5px rgba(155, 155, 155, 0.8);
	letter-spacing: 2px;
	word-spacing: 4px;
	text-indent: 150px;
}
main article:nth-child(1) p + p {
	font-size: 1.2rem;
	text-indent: 50px;
}


main article:nth-child(2) {
	width: 40%;
	height: 39%;
	padding: 1% 1% 1% 1%;
	background: rgba(50, 30, 20, 0.9);
	position: absolute;
	top: 43%;
	left: 53%;
	color: rgba(228, 228, 228, 1);
	font-family: "Lato", cursive;
}
main article:nth-child(2) h2 {
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
}
main article:nth-child(2) p {
	font-size: 1.2rem;
	text-indent: 50px;
}


ul[data-statistics="statistics1"] {
	list-style-type: none;
	padding-top: 1%;
	width: 32%;
	height: 44%;
	background-color: rgba(34, 34, 34, 0.9);
	border: 10px solid rgba(33, 33, 33, 0.9);
	border-radius: 30% 30% 30% 30%;
	text-align: center;
	position: absolute;
	top: 105%;
	left: 2%;
	display: inline-block;
}
ul[data-statistics="statistics1"] li {
	display: inline-block;
	float: left;
	width: 30%;
	height: 45%;
	color: rgba(228, 228, 228, 1);
	font-size: 1rem;
	font-weight: bold;
}
ul[data-statistics="statistics1"] li img {
	width: 40%;
}
ul[data-statistics="statistics1"] li div:nth-child(2) p {
	font-family: cursive;
	text-shadow: 1px 1px 1px white;
}
ul[data-statistics="statistics1"] li div:nth-child(3) p {
	font-family: "Lato", cursive;
}
ul[data-statistics="statistics1"] li:nth-child(4), ul[data-statistics="statistics1"] li:nth-child(5) {
	position: relative;
	left: 16%;
	top: 6%;
}


.chart {
	position: absolute;
	top: 105%;
	left: 39.9%;
}
.chart img {
	position: relative;
	left: 1.2%;
}
.chart-data {
	background: rgba(255, 255, 95, 0.5);
	width: 32%;
	height: 20%;
}
.chart-data p, .chart-data ul li {
	color: #222222;
	font-family: cursive;
	font-size: 1rem;
	font-weight: bold;
}
.chart-data p {
	text-align: center;
}
.chart-data ul li {
	padding-left: 2rem;
	list-style-type: none;
	background-position: 0 3px;
	background-size: 1rem 1rem;
	background-repeat: no-repeat;
}
.chart-data ul li:nth-child(1) {
	background-image: url(images/orange_square.png);
}
.chart-data ul li:nth-child(2) {
	background-image: url(images/light_blue_square.png);
}
.chart-data ul li:nth-child(3) {
	background-image: url(images/green_square.png);
}
.chart-data ul li:nth-child(4) {
	background-image: url(images/dark_blue_square.png);
}
.chart-data ul li:nth-child(5) {
	background-image: url(images/red_square.png);
}
.chart-data ul li:nth-child(6) {
	background-image: url(images/double_light_blue_square.png);
}


ul[data-statistics="statistics2"] {
	list-style-type: none;
	padding-top: 1%;
	width: 32%;
	height: 44%;
	background-color: rgba(34, 34, 34, 0.9);
	border: 10px solid rgba(33, 33, 33, 0.9);
	border-radius: 30% 30% 30% 30%;
	text-align: center;
	position: absolute;
	top: 105%;
	left: 61.5%;
	display: inline-block;
}
ul[data-statistics="statistics2"] li {
	display: inline-block;
	float: left;
	width: 30%;
	height: 45%;
	color: rgba(228, 228, 228, 1);
	font-size: 1rem;
	font-weight: bold;
}
ul[data-statistics="statistics2"] li img {
	width: 40%;
}
ul[data-statistics="statistics2"] li div:nth-child(2) p {
	font-family: cursive;
	text-shadow: 1px 1px 1px white;
}
ul[data-statistics="statistics2"] li div:nth-child(3) p {
	font-family : "Lato", cursive;
}
ul[data-statistics="statistics2"] li:nth-child(4), ul[data-statistics="statistics2"] li:nth-child(5) {
	position: relative;
	left: 16%;
	top: 6%;
}


main article:nth-child(4) {
	width: 42%;
	height: 45%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	background: rgba(52, 43, 39, 0.9);
	position: absolute;
	top: 190%;
	left: 13%;
	color: rgba(255, 248, 102, 1);
	font-family: "Lato", cursive;
}
main article:nth-child(4) h2 {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}
main article:nth-child(4) p {
	font-size: 1rem;
	text-indent: 50px;
}


main article:nth-child(7) {
	width: 42%;
	height: 45%;
	background: rgba(34, 34, 34, 0.9);
	padding-left: 1.5%;
	padding-right: 1.5%;
	position: absolute;
	top: 289%;
	left: 13%;
	margin-bottom: 50px;
	color: rgba(228, 228, 228, 1);
	font-family: "Lato", cursive;
}
main article:nth-child(7) h2 {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}
main article:nth-child(7) p {
	font-size: 1.2rem;
	text-indent: 50px;
}


main article:nth-child(8) {
	width: 42%;
	height: 38%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
				url(images/white.jpg);
	padding-left: 1.5%;
	padding-right: 1.5%;
	position: absolute;
	top: 243%;
	left: 13%;
	color: rgba(50, 25, 0, 1);
	font-family: "Lato", cursive;
}
main article:nth-child(8) h2 {
	font-size: 2rem;
	font-weight: bold;
	text-shadow: 4px 4px 5px rgba(155, 155, 155, 0.8);
	text-align: center;
}
main article:nth-child(8) p {
	font-size: 1.2rem;
	text-indent: 50px;
}


main aside {
	width: 27%;
	height: 110%;
	background: rgba(50, 30, 20, 0.9);
	position: absolute;
	top: 207%;
	left: 68%;
	overflow: auto;
	color: rgba(228, 228, 228, 1);
	font-family: "Lato", cursive;
	text-align: center;
}
main aside h2 {
	font-size: 1.5rem;
	font-weight: bold;
}
main aside figcaption {
	font-size: 1rem;
}


footer {
	float: right;
	height: 100px;
    overflow: hidden;
    background-color: rgba(34, 34, 34, 0.9);
	position: absolute;
	top: 345%;
}
.logo-footer {
	vertical-align: middle;
	top: 15px;
	left: 40px;
	height: 100px;
	float: left;
}
.footer-details {
	padding-top: 50px;
	padding-left: 25px;
	font-family: 'Lato', sans-serif;
	color: #FE9C45;
}